.clock{
	width: 50rem;
	height: 50rem;
	border: .6rem solid rgba(70, 130, 180, .2);
	border-radius: 25rem;
	position: relative;
}
.clock::before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: black;
	z-index: 1;
}
.clock__mark{
	border-top: 1.5rem solid steelblue;
	width: .6rem;
	height: 50rem;
	margin-top: -.6rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.clock__mark:nth-child(5n+1){
	border-top: 3rem solid steelblue;
	width: 1rem;
}
.clock__hours{
	width: 1.5rem;
	border-top: 15rem solid black;
	height: 61%;
	position: absolute;
	bottom: 50%;
	left: 50%;	
}
.clock__minutes{
	width: 1rem;
	height: 82%;
	border-top: 20rem solid black;
	position: absolute;
	bottom: 50%;
	left: 50%;	
}
.clock__seconds{
	width: .2rem;
	height: 90%;
	border-top: 22rem solid red;
	position: absolute;
	bottom: 50%;
	left: 50%;	
}
.clock__seconds::before{
	content: "";
	background-color: red;
	width: .2rem;
	height: 4rem;
	position: absolute;
}
